<h1>Listing Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %> <%= user.surname %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
</table>

<div class="links">
  <p><%= link_to 'Back', root_url %></p>
</div>
