<h1>Welcome#index</h1>

<h2>This is the home page of the website and will have links to the main branches of the site. You'll have to log in before you get here, once authentication is implemented.</h2>
